# Executable
cosmoscroll

# Screenshots directory
/screenshots

# Compiled object files
*.o

# Makefile dependencies
*.d

# Generated tarballs
*.tar.gz

# Code::Blocks files
cosmoscroll.layout
cosmoscroll.depend
*.swp
